@use "../variables-site/colors";

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid $color__border-input;
	border-radius: 3px;
	color: $color__text-input;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

$button__submit-height: 36px;
input[type="submit"] {
	height: $button__submit-height;
	border-radius: $button__submit-height / 2;
	background-color: $color__highlight;
	color: $color__white;
	border: none;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;

	&:hover {
		// box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
		box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
		transition: all 0.3s ease 0s;
		transform: translateY(-7px);
	}

	&:focus {
		outline: none;
	}

}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

//form control 7
.wpcf7-form-control-wrap {
	margin: 3px;
}

.wpcf7-response-output {
	border: none !important;
	background-color: #f5fcff;
	// #fffedb
}

// $primary: #11998e;
// $secondary: #38ef7d;
// $white: #fff;
// $gray: #9b9b9b;

// .form__group {
//   position: relative;
//   padding: 15px 0 0;
//   margin-top: 10px;
//   width: 50%;
// }

// .form__field {
//   font-family: inherit;
//   width: 100%;
//   border: 0;
//   border-bottom: 2px solid $gray;
//   outline: 0;
//   font-size: 1.3rem;
//   color: $white;
//   padding: 7px 0;
//   background: transparent;
//   transition: border-color 0.2s;

//   &::placeholder {
//     color: transparent;
//   }

//   &:placeholder-shown ~ .form__label {
//     font-size: 1.3rem;
//     cursor: text;
//     top: 20px;
//   }
// }

// .form__label {
//   position: absolute;
//   top: 0;
//   display: block;
//   transition: 0.2s;
//   font-size: 1rem;
//   color: $gray;
// }

// .form__field:focus {
//   ~ .form__label {
//     position: absolute;
//     top: 0;
//     display: block;
//     transition: 0.2s;
//     font-size: 1rem;
//     color: $primary;
//     font-weight:700;    
//   }
//   padding-bottom: 6px;  
//   font-weight: 700;
//   border-width: 3px;
//   border-image: linear-gradient(to right, $primary,$secondary);
//   border-image-slice: 1;
// }
// /* reset input */
// .form__field{
//   &:required,&:invalid { box-shadow:none; }
// }

/* demo */
// body {
//   font-family: 'Poppins', sans-serif; 
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   font-size: 1.5rem;
//   background-color:#222222;
// }
